<html>
<head>
	
	<title>My first page to the angular js.</title>
	 <script type="text/javascript"  src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	 <script type="text/javascript" src="inner.js"></script>

</head>
<body>
	<div   ng-app="hello"  ng-controller="hello">
			
		<h1 >Hello {{yourname}}</h1>
		<p> Enter your name  <input ng-model="name" type="text"> </p>

		<p> 
			Hello <h1  ng-bind="name"> </h1>
		</p>



		<div  ng-init="con=['india' , 'USA', 'UAE' ,'China'];" >

			<p  ng-repeat="co in con">  {{con}}  </p>




		</div>





		

	</div>
</body>
</html>