<html>
<head>
	
	<title>My first page to the angular js.</title>
	 <script type="text/javascript"  src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	 <script type="text/javascript" src="inner.js"></script>

</head>
<body>
	<div   ng-app="hello"  ng-controller="hello">
			
		<p> Enter your name  <input ng-model="name" type="text"> </p>

		<p> 
			Hello <h1  ng-bind="name"> </h1>
		</p>



		<div  ng-init="con=['india' , 'USA', 'UAE' ,'China'];" >

			<!-- <p  ng-repeat="co in con">  {{co}}  </p> -->

			{{con[0]}}
			{{con [1]}}
			{{ con [0]  + " and  "+  con [1]}}
			<br>{{ "" + con [1]  + " system" }}
		</div>
	</div>
</body>
</html>